.header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.headerWrapper {
  width: 100%;
  padding: 16px 32px;

  display: flex;
  justify-content: space-between;

  background-color: var(--color-white);

  transition: filter 0.25s ease;
}

.logoWrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 4px;
  flex-grow: 1;

  & .logo {
    width: 32px;
    height: 32px;
  }

  & .logoText {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
  }
}

.navigationList {
  display: none;
  flex-grow: 0.6;
}

.menuWrapper {
  border: none;
  background-color: transparent;

  width: 34px;
  height: 34px;

  & svg {
    stroke: var(--color-black);
  }
}

@media (width >= 1440px) {
  .headerWrapper {
    padding: 24px 64px;
  }
  .navigationList {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .navListItem .menuList {
      display: flex;
      gap: 58px;

      & .menuListItem {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #000;

        transition: all var(--transition-value);
      }

      & .menuListItem:hover {
        color: #6851ff;
      }
    }

    & .authBtnItem {
      display: flex;
      gap: 24px;
      justify-content: center;
      /* align-items: center; */

      & .authBtn {
        background-color: transparent;
        border-radius: 8px;
        padding: 12px 24px;
        width: 100%;
        min-width: 120px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;

        transition: all var(--transition-value);
      }

      & .authBtn:first-child {
        border: 2px solid #d6d8e5;
      }

      & .authBtn:first-child:hover {
        border: 2px solid #6851ff;
      }

      & .authBtn:first-child:focus {
        border: 2px solid #6851ff;
        color: #6851ff;
      }

      & .authBtn:first-child:active {
        border: 2px solid #2511ae;
        color: #2511ae;
      }

      & .authBtn:first-child:disabled {
        border: 2px solid #d6d8e5;
        color: #717788;
      }

      & .authBtn:last-child {
        background-color: #6851ff;
        color: #fff;
        border: 2px solid transparent;
      }

      & .authBtn:last-child:hover {
        background-color: #8b8aff;
      }

      & .authBtn:last-child:focus {
        background-color: #6851ff;
        border: 2px solid #3118d6;
      }

      & .authBtn:last-child:active {
        background-color: #3d1efe;
      }

      & .authBtn:last-child:disabled {
        background-color: #b5b8cb;
      }
    }
  }

  .menuWrapper {
    display: none;
  }
}
