.header {
  position: sticky;
  top: 0;
  z-index: 9;
}

.headerWrapper {
  width: 100%;
  padding: clamp(1rem, 4vw, 2rem) clamp(1rem, 6vw, 4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  transition: filter var(--transition-value);
  gap: clamp(0.5rem, 2vw, 2rem);
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: clamp(4px, 1vw, 12px);
  flex-grow: 1;
}

.logoWrapper .logo {
  width: clamp(24px, 5vw, 32px);
  height: clamp(24px, 5vw, 32px);
  cursor: pointer;
}

.logoWrapper .logoText {
  font-weight: 700;
  font-size: clamp(16px, 4vw, 20px);
  line-height: 1.4;
  cursor: pointer;
}

.navigationList {
  display: none;
  flex-grow: 0.6;
}

.menuWrapper {
  border: none;
  background-color: transparent;
  width: clamp(28px, 6vw, 34px);
  height: clamp(28px, 6vw, 34px);
}

.menuWrapper svg {
  stroke: var(--color-black);
}

.navigationList {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(12px, 5vw, 58px);
}

.menuList {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(8px, 4vw, 58px);
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuListItem {
  font-weight: 500;
  font-size: clamp(14px, 3vw, 16px);
  line-height: 1.5;
  transition: all var(--transition-value);
  text-transform: capitalize;
}

.menuListItem:hover {
  color: var(--primary-color);
}

.authBtnItem {
  display: flex;
  gap: clamp(12px, 4vw, 24px);
  flex-wrap: wrap;
  justify-content: center;
}

.authBtn {
  background-color: transparent;
  border-radius: 8px;
  padding: clamp(8px, 3vw, 12px) clamp(16px, 6vw, 24px);
  min-width: clamp(90px, 20vw, 120px);
  font-weight: 700;
  font-size: clamp(14px, 4vw, 16px);
  text-align: center;
  transition: all var(--transition-value);
}

.authBtn:first-child {
  border: 2px solid var(--color-gray);
}

.authBtn:first-child:hover {
  border: 2px solid var(--primary-color);
}

.authBtn:first-child:focus {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.authBtn:first-child:active {
  border: 2px solid var(--primary-deep);
  color: var(--primary-deep);
}

.authBtn:first-child:disabled {
  border: 2px solid var(--color-gray);
  color: #717788;
}

.authBtn:last-child {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: 2px solid transparent;
}

.authBtn:last-child:hover {
  background-color: #8b8aff;
}

.authBtn:last-child:focus {
  background-color: var(--primary-color);
  border: 2px solid #3118d6;
}

.authBtn:last-child:active {
  background-color: var(--primary-dark);
}

.authBtn:last-child:disabled {
  background-color: #b5b8cb;
}
